.todo-item-content {

    background-color: #DDD;
    border-bottom: 2px solid #3498db;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 100px;

    border-radius: 5px;

    padding: 10px;
}

.todo-item-content.is-check {
    border-bottom: 2px solid #e74c3c;
}

.todo-item-info-content {
    display: grid;
}

.todo-item-info-title {
    font-size: large;
    color: #222;
}

input {
    background: none;
    border: none;
}

input:focus {
    outline: 0;
}

.todo-item-info-description {
    font-size: small;
    color: #444;
}

.todo-item-date {

    background-color: #3498db;
    padding: 5px;

    border-radius: 5px;

    font-size: small;
    font-style: italic;
    color: #eee;
}

.todo-item-inputs {
    display: flex;
    gap: 10px;
}

.todo-item-toggle,
.todo-item-delete {
    width: 25px;
    height: 25px;
}

.todo-item-delete {
    border: none;
    border-radius: 2.5px;
    background-color: #e74c3c;

    color: #FFF;
    font-size: large;
}

.is-check .todo-item-toggle,
.is-check .todo-item-date {
    background-color: #e74c3c;
}

.is-check .todo-item-info-title,
.is-check .todo-item-info-description {
    text-decoration: line-through;
    opacity: 0.75;
}