.todo-list-filters-content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.todo-list-filter-button {

    cursor: pointer;
    transition: all 0.15s ease-in-out;

    padding: 5px;

    border: none;
    border-radius: 5px;

    color: #FFF;

    font-weight: 700;
}

.todo-list-filter-button:hover {
    transform: scale(0.95);
}

.todo-list-filter-input {
    background-color: #DDD;
    border-radius: 5px;

    padding: 5px;

    width: 100px;
}

.todo-list-filter-input~.todo-list-filter-input {
    text-align: center;
}